@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}

.header-1 {
	        background-color: #004977;
    height: 72px;
    line-height: 72px;
       z-index: 999;
    width: 100%;
    display: block;
}
.dorpdown-1 i{
    font-size: 35px;
    border: 1px solid;
    padding: 17px 20px;
    float: left;
    color: #fff;
    background-color: #004977;
    position: fixed;
    z-index: 999;
}
.logo {
	float: left;
	
	
}
.logo h3 {
	    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
    font-family: 'Poppins', sans-serif;
}

.getintouch {
	float: right;
	font-size: 20px;
	    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 12px;
    color: #fff;
        
        padding-top: 16px;

}

.getintouch a {
	 font-size: 17px;
	 letter-spacing: 2px;
	text-decoration: none !important;
	color: #333 !important;
	font-weight: 500;
	padding: 8px 10px;
	transition: ease-in-out all 0.7s;
	background: #fff;

}
.getintouch:hover a {
	background: rgba(255, 181, 0, 0.97);
	color: #fff !important;
	
}


.phone-number {
float: right;
font-size: 20px;
    float: right;
    font-size: 15px;
   
       line-height: 72px;
    color: #fff;
    padding-right: 38px;
    letter-spacing: 2px;
}



i.fa.fa-phone {
    font-size: 20px;
}

.corousal-1 .left.carousel-control {
	background-image: none !important;
	box-shadow: none !important;
	outline: none;
    opacity: 1;
}
 .left.carousel-control a {
	background-image: none !important;
	box-shadow: none !important;
	outline: none;
	text-shadow: none;
	height: 650px;
}
 .right.carousel-control a {
	background-image: none !important;
	box-shadow: none !important;
	outline: none;
	text-shadow: none !important;
	height: 650px;
	text-shadow: none;
}
.corousal-1 .left.carousel-control a {
	background: none !important;
    display: inline-block;
	box-shadow: none !important;
	outline: none;
	text-shadow: none !important;
	    
	
}
a.left.carousel-control {
        left: 50px !important;
    width: 0px !important;
}
a.right.carousel-control {
        right: 50px !important;
    width: 0px !important;
}
.corousal-1 .right.carousel-control {
	background-image: none !important;
	box-shadow: none !important;
	outline: none;
    opacity: 1;
}

.corousal-1 .carousel-control span {
	    height: 40px;
    width: 40px;
	line-height: 16px;
    background-color: blue;
   opacity: 1 !important;
   background-color: rgba(255, 181, 0, 0.97);
   box-shadow: 2px 2px rgba(0,0,0,0.1);
}

.corousal-1 .carousel-control .glyphicon {
	line-height: 35px;
	
}


.carousel-caption {
    right: 10% !important;
    left: 12% !important;
    display: inline-block;
    bottom: 32% !important;

}

.carousel-caption h4{
	    font-size: 150px;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Poppins', sans-serif;

    
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 25% !important;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 25% !important;
}
.carousel-caption h4 span{
	          font-size: 30px;
    text-transform: uppercase;
    padding-left: 10px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;


}
.carousel-control {
    opacity: 1;
}

.carousel-caption p{
	font-size: 20px;
    letter-spacing: 2px;
    text-align: left;
        padding-bottom: 35px;
        padding-left: 20px;
}

.carousel-caption h5 {
	text-align: left;
}
.carousel-caption h5 a {
	        text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
    background: rgba(255, 181, 0, 0.97);
}
.carousel-caption h5 a:hover {
	background-color: #004977;
	color: #fff;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    top: 40% !important;
}
.header-2 {
    margin-top: 50px;
    text-align: center;
    position: relative;

}
.header-2 h3 {

    font-size: 40px;
    color: #000;	
}

.submain h4{
	color: rgba(0, 0, 0, 0.28);
    font-size: 6em;
    font-weight: 600;
    position: absolute;
        top: -34px;
    left: 48%;
}

.row-first {
	margin-top: 50px;
}

.row-first .row  {
	position: relative;
	display: inline-block;
}
.row-first .row .col-sm-4.one {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	 background-color: rgba(0, 0, 0, 0.8);
	transition: ease-in-out all 0.3s;
	transform: scale(0);
}
.row-first .row:hover .row-first .row .col-sm-4.one {
	transform: scale(1);
}






.example {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.example .secondexample {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: ease-in-out all 0.3s;
	 background-color: rgba(5, 5, 3, 0.59);
	transform: scale(0);

}

.example:hover .secondexample {
	transform: scale(1);
}

.secondexample h1 {
	    text-align: center;
    color: rgba(255, 181, 0, 0.97);
    letter-spacing: 2px;
    font-size: 33px;
    font-weight: 500;
    padding-top: 5%;

}
.secondexample p {
	color: #fff;
	text-align: center;
	font-size: 15px;
	    margin: 0px 54px;
	        line-height: 26px;

}

.secondrow .row h3 {
	        font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px;
    line-height: 30px;
    font-weight: 500;
    color: #004977;
}
.thirdrow{
	    margin-top: 75px;

}

.thirdrow .bieber2 h3{
	    font-size: 21px;
    font-weight: 600;
    margin: 1em 0px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #004977;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
        line-height: 30px;


}


.thirdrow .bieber2 h5{
	font-size: 17px;
    margin: 1.5em 0px;
    font-style: italic;
    letter-spacing: 0px;
    color: #383838;
}

.bieber2 {
    padding: 3em 3em 0em 4em;
}

.thirdrow .bieber2 p{
        line-height: 30px;
    color: #636363;
    width: 95%;
    letter-spacing: 1px;

}

.thirdrow .bieber2 .arround a{
	text-decoration: none;
	border: 1px solid;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    background: rgba(255, 181, 0, 0.97);
    color: #fff;
    padding: 9px 16px;
    text-align: center;
    transition: ease-in-out all 0.3s;
}
.thirdrow .bieber2 .arround a:hover{
	background: #004977;
}
.col-sm-6.bieber {
    margin: 0px;
    padding: 0px;
}

.arround{
	 margin-top: 48px;
}


.thirddiv {
	    margin-top: 75px;
	    position: relative;
}


.thirddiv h3 {
    text-align: center;
    font-size: 40px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 1em;

    }
    .thirddiv h1 {
    	    position: absolute;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.28);
    top: -25px;
    left: 47%;
    font-weight: bold;
    margin-bottom: 30px;
    }



    .fourthrow .three h4 span{

    font-size: 30px;
    margin-right: 1em;
    color: #ffb708;
    }

    .fourthrow .three h4{
    	    color: #004977;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    }

    .fourthrow .three p {
    	    margin: 0 0 10px;
    margin-right: 47px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #636363;
    }


    .fourthrow .row{
    	    margin-bottom: 30px;
    }


.fifthdiv {
	margin: 75px;
	position: relative;
}

    .fifthdiv h3{
    	    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    color: #000
    }

    .fifthdiv h1{
  	 position: absolute;
    font-size: 6em;
    top: -26px;
    left: 48%;
    color: rgba(0, 0, 0, 0.28);
    }

    .sixthrow .row.only{
    	  margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 75px;
    }

    .sixthrow .row.only .col-sm-3.pan{
    	display: inline-block;
    	    padding: 32px 35px;
    	    transition: ease-in-out all 0.4s;

    }


    .sixthrow .row.only .col-sm-3.pan ul li{
   	list-style: none;
    display: inline-block;
    text-align: center;
    min-height: 33px;
    width: 33px;
    line-height: 36px;
   

    }
    .sixthrow .row.only .col-sm-3.pan ul li a {
    text-decoration: none;
    }
    .sixthrow .row.only .col-sm-3.pan ul li a i{
    font-size: 15px;
    	color: #fff;
    }
    .sixthrow .row.only .col-sm-3.pan ul li:nth-child(1) {
    	background: #3b5998;
    	color: white;
        transition: ease-in-out all 0.3s;
    }
  
    .sixthrow .row.only .col-sm-3.pan ul li:nth-child(1):hover a i{  	
    	
    	border: 2px solid #3b5998;
        color: #3b5998;
        background-color: #004977;
    }
  
    .sixthrow .row.only .col-sm-3.pan ul li:nth-child(2) {
    	background: #4099ff;
    	color: white;
    }
    .sixthrow .row.only .col-sm-3.pan ul li:nth-child(3) {
    	background: #d34836;
    	color: white;
    }
    .sixthrow .row.only .col-sm-3.pan ul li a i{
    	
    	color: white;
    }
    .sixthrow .row.only .col-sm-3.pan img {
    	height: 112px;
    	border-radius: 50%;
    }

   .sixthrow .row.only .col-sm-3.pan p {
    letter-spacing: 1px;
        margin-right: -7px;
    font-size: 15px;
    line-height: 22px;
    color: #636363;
    }

    .sixthrow .row.only .col-sm-3.pan:hover {
    	background: #004977;
    }
    .sixthrow .row.only .col-sm-3.pan:hover p{
    	color: #fff;
    }
    .sixthrow .row.only .col-sm-3.pan:hover h3 {
    	color: #ffb708;
    }
    .sixthrow .row.only .col-sm-3.pan:hover img {
    	transform: scale(1.2);
    	transition: ease-in-out 0.7s;
    }


    .seventhdiv {
    	background: url("https://p.w3layouts.com/demos_new/template_demo/01-07-2017/indoor_furniture-demo_Free/236343615/web/images/22.jpg");
    	float: left;
    	width: 100%;
    	background-size: cover;
    }

   

   .again-headding{
	margin: 65px;
	position: relative;
}

    .again-headding h3{
    	    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    }

    .again-headding h1{
      position: absolute;
    font-size: 7em;
    top: -50px;
    left: 46%;
    color: rgba(255, 255, 255, 0.61);
    font-weight: bold;
    }
    .imgaa img{
    	    border-radius: 50%;
    }

    .imgaa {
    	    margin: 0px 352px;

    }
    img.abcd {
    	height: 127px;
    border: 4px solid transparent;
     cursor: pointer;
    }
   img.abcde {
   	margin-left: -22px;
    height: 106px;
        opacity: 0.4;
    cursor: pointer;
    border: 2px solid transparent;
     
    
        }
        img.abcde2 {
   	
    height: 106px;
        opacity: 0.4;
    color: rgba(0,0,0,0.1);
    border: 2px solid transparent;
     cursor: pointer;
     
    
        }

        img.abcde3 {
   
    height: 106px;
        opacity: 0.4;
    color: rgba(0,0,0,0.1);
    border: 2px solid transparent;
     cursor: pointer;
     
    
        }


     .anothe-para{
            margin: 20px 192px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #fff;
    font-family: 'Poppins', sans-serif;

        }

        .headdingss h4{
        	    color: #ffb708;
    font-size: 1.3em;
    text-transform: capitalize;
        color: #ffb708;
    font-size: 20px;
        font-weight: 700;

    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1px;
       margin-bottom: 55px;

        }

        .eighthdiv {
        	position: relative;
        	display: inline-block;
        	overflow: hidden;
        	 text-align: center;
        	  width: 100%;
        }

    .eighthdiv h3{
      margin-top: 65px;

    font-size: 40px;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: 1EM;
    
        }

        .eighthdiv h1 {
    position: absolute;
    position: absolute;
   top: 16px;
    left: 48%;
    font-weight: bold;
    font-size: 6em;
        color: rgba(0, 0, 0, 0.28);

        }

.eighthdiv .row {
	    margin-bottom: 30px;
}
.thirteen .img-responsive {
    height: 330px;
}
.eleven .img-responsive{
    height: 330px;
}
.twelve .img-responsive{
    height: 330px;
}


.eleven {position: relative;
	overflow: hidden;
	display: inline-block;
}

.twelve {
	position: absolute;
	overflow: hidden;
	bottom: 100%;
	left: 0;
	right: 0;
	top: 0;
	transition: ease-in-out all 0.5s;
	    background: rgba(0, 0, 0, 0.58);
}
.eleven:hover .twelve{
	bottom: 0;
}
.twelve i {
	    text-align: center;
   color: #fff;
   
    font-size: 30px;

    text-align: center;
    
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}


.lastdiv {
	margin-top: 75px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	
}

.lastdiv h1 {
	    font-size: 41px;
    color: #000;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    font-weight: 500;
    padding-bottom: 25px;

}
.lastdiv h3 {
	    position: absolute;
    font-size: 6em;
    top: -25px;
        left: 47%;
    font-weight: bold;
	color: rgba(0, 0, 0, 0.28)
}

.maps-1 {
	    padding-top: 30px;
	    padding: 0px;
	    margin: 0px;
}


.lastdiv .childiv-2 {
	        min-height: 511px;
        width: 720px;
        z-index: 1;
    display: block;
    float: left;
       top: 145px;

    position: absolute;
    background: #fff;
    left: 30%;
}
.lastdiv .childiv-2 h5{
	padding-top: 35px;
    text-align: center;
    color: #000;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
}


.lastdiv input[type=text] {
       width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    box-shadow: none;
    
}

.lastdiv textarea.form-control {
	 box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    resize: none;

}

.lastdiv textarea.form-control:focus {
	border-color: #ffb708;
}
.lastdiv textarea.form-control label {
	top: -100px;
}
.lastdiv input[type=text]:focus{
	border-color: #ffb708;
	
}
.lastdiv label{
	position: relative;
	top: -36px;
	padding-left: 10px;
	transition: ease-in-out all 0.2s;
	color: #999999;
	font-weight: 400;
}

.lastdiv input[type=text]:focus + label{
	top: -60px;	
	color:#ffb708;
}

.lastdiv .col-sm-6 label{
	
}


.lastdiv .paddingwala {
	padding: 20px 60px;
}


.lastdiv .santosh12 {
	    margin-top: 8px;
}
.lastdiv .santosh13 {
	       padding-top: 20px;
}




.santosh20 {
	    padding-top: 20px;
    padding-bottom: 28px;
}

.santosh20 a {
	text-decoration: none !important;
	    padding: 9px 10px;
	border: 1px solid black;
	font-size: 16px;
	background: rgba(255, 181, 0, 0.97);
	border: 2px solid rgba(255, 181, 0, 0.97);
	transition: ease-in-out all 0.3s;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 1px;
}


	.santosh20 a:hover{
		background: #004977;
		border: 2px solid #004977;
		color: white;
	}




.lastdiv .childiv-3 {
	       
      padding: 0px;
      margin: 0px;
    display: block;
    float: left;
    background: #004977;
    color: #fff;
   position: absolute;
       top: 100px;
}

.lastdiv .childiv-3 .paddingwala2 {
	margin: 5em 0em 5em 8em;
}

.lastdiv .childiv-3 .paddingwala2 h4{
	font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
    padding-bottom: 2px;
        padding-top: 40px;
    padding-bottom: 27px;
}

.lastdiv .childiv-3 .paddingwala2 p{
	letter-spacing: 1px;
    color: grey;
    margin: 0px;
    line-height: 25px;
}

 .lastdiv .childiv-3 .paddingwala2{
	  
    display: block;
    float: left;
    background: #004977;
    color: #fff;
    top: 100px;
}

.footer-1 .row.footerdiv{
	display: inline-block;
	width: 100%;
	
}
.footer-1 .row.footerdiv .footerdiv11 .footer-logoo ul {
	 padding-top: 5px;

}
.footer-1 .row.footerdiv .footerdiv11 .footer-logoo ul li{
	display: inline-block;
	list-style: none;
	padding: 2px;

}
.footer-1 .row.footerdiv .footerdiv11 .footer-logoo ul li a {
	text-decoration: none;
}

.footer-1 .row.footerdiv .footerdiv11 .footer-logoo ul li a i{
	             min-height: 37px;
    width: 37px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 100%;
    color: #bbb;
    line-height: 37px;
    text-align: center;
}

.footer-1 .row.footerdiv .footerdiv11 .footer-logoo ul li a:hover i{
	transition: ease-in-out all 0.5s;
	color: #146eb4;
}
.footer-1 .row.footerdiv .footerdiv11 .footer-logoo h3 {
	    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
   margin-top: 25px;
    color: #fff;
        padding-bottom: 20px;
            line-height: 25px;

}

.footer-1 .row.footerdiv .footerdiv11 .footer-logoo p{
	    padding: 0px;
    color: #bbb;
        font-size: 15px;

}
.footer-1 .row.footerdiv .footerdiv11 {
	
	margin:0px 0px .5em 0px;
}


.footer-1 {
	background: #191d20;
	    padding: 45px 0px;

}
.footerdiv22 .footer-logoo2 {
background: #fff;
}
.footerdiv22 .footer-logoo2 h3 {
	        margin: 0 0 .5em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 1.5em;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 24px;
}

.footerdiv22 .footer-logoo2 .sunil11 input[type="text"]{
	border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #bbb;
    margin: 0px 35px;
    width: 80%;
    outline: none;
    box-shadow: none;

}
.footerdiv22 .footer-logoo2 .sunil22 input[type="text"]{
	width: 80%;
       margin: 0px 35px;
    padding-top: 12px;
    border-right: 0px;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #bbb;
     outline: none;
    box-shadow: none
}
.footer-logoo2 label{
    position: relative;
    top: -30px;
    padding-left: 36px;
    color: #bbb;
    font-weight: 400;
}

.last-section{

	    text-align: center;
    padding-bottom: 65px;
    padding-top: 10px;
    color: #fff;

}
.last-section a {
	background: #ffb708;
	border: 1px solid #ffb708;
    text-decoration: none;
              padding: 14px 68px;
       color: #fff;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    
   
}
.last-section a:hover {
	background: #004977;
	border: 1px solid #004977;
	color: #fff;
	text-decoration: none;
}

.section-33 {
	    color: #fff;
    width: 100%;
    display: inline-block;
	color: #fff
}
.section-33 h3 {
    padding-top: 25px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}

.footerdiv33 .col-sm-5.lists-11 {
	padding-left: 0px;
	margin-left: 0px;
}
.footerdiv33 .col-sm-5.lists-22	 {
	padding-left: 0px;
	margin-left: 0px;
}
.footerdiv33 .lists-11 ul {	
	float: left;
	    line-height: 25px;
	    padding-top: 15px

}
.footerdiv33 .lists-22 ul{
	float: right;
	    line-height: 25px;
	    padding-top: 15px

}
.footerdiv33 .lists-11 ul li a {
	text-decoration: none;
	color: #bbb;
	font-size: 15px;
	letter-spacing: 1px;
}
.footerdiv33 .lists-11 ul li a:hover {
	color: #146eb4;
	transition: ease-in-out all 0.4s;
}
.footerdiv33 .lists-22 ul li a:hover {
	color: #146eb4;
	transition: ease-in-out all 0.4s;
}
.footerdiv33 .lists-22 ul li a {
	text-decoration: none !important;
	color: #bbb;
	font-size: 15px;
	letter-spacing: 1px;
}
.footerdiv33 ul li {
	list-style-type: none !important;
	padding-left: 0px;
}
.footerdiv33 ul li {
	list-style-type: none !important;
	padding-left: 0px;
}
.row.contacts-info {
    clear: both;
    padding-top: 20px;
    margin: 0px;
    width: 100%;
    display: inline-block;
}

.col-sm-8.rajesh {
    width: 100%;
    display: inline-block;
        padding-left: 0px;
}

.col-sm-8.rajesh h4{
	font-size: 15px;
    letter-spacing: 1px;
    color: #bbb;
        padding-right: 60px;

    line-height: 25px;
    margin: 0px;

}

.last-footer a {
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;

}
.last-footer h5{
    color: #c1c1c1 !important;
      letter-spacing: 2px;
font-size: 14px;
    font-size: 12px;

}

.last-footer {
	
    background: #141719;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 17px 0px;
}

.clearfix {
    margin: 0px !important;
    padding: 0px;
}

.toptobottom {
    float: right;
    padding: 25px;
    position: fixed;
    margin: 0px;
     bottom: 0px;
    right: 0;
    display: inline-block;
}

